<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Create Challenge</title>
    <link rel="stylesheet" href="css/challengeCreate.css" />
  </head>

  <body>
    <div class="bg-modal">
      <form class="modalContent" method="POST" action="/challenge">
        <div class="challengeName">도전명</div>
        <div>
          <input type="text" placeholder="ex) 5kg 감량하기" name="name" />
        </div>
        <div class="challengeDetail">일일 도전</div>
        <div>
          <input
            type="text"
            placeholder="ex) 20분 한강 걷고 오기"
            name="description"
          />
        </div>
        <div class="challengeDate">시작일</div>
        <div><input type="date" name="start_date" /></div>
        <div class="challengePrice">투자금</div>
        <div class="challengePriceBtn">
          <div><button>1만원</button></div>
          <div><button>3만원</button></div>
          <div><button>5만원</button></div>
        </div>
        <div class="challengeMake">
          <input type="submit" value="챌린지개설" />
        </div>
      </form>
    </div>
  </body>
</html>
