    <!DOCTYPE html>
    <html lang="kr">
    <!-- 768px -->

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>MainPage(withoutLogin)</title>
        <link rel="stylesheet" href="css/firstMainBG.css">
        <link rel="stylesheet" href="css/firstMainNav.css">
        <link rel="stylesheet" href="css/firstMainBody.css">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="main">
            <div class="mainNav">
                <div class="mainNavLogo">작 심 3 1</div>
                <div class="mainNavMenu">
                    <div style="font-weight : bold";>Home</div cl>
                    <div style="color : #cccccc;">Calendar</div s>
                    <div style="color : #cccccc;">Graph</div>
                    <div style="color : #cccccc;">Refund</div>
                    <div style="color : #0081f8">Sign in</div>
                </div>
            </div>
            <div class="mainBody">
                <div class="mainBodyLeft">
                    <div class="mainBodyLeftTitle">We'll help you suecceed.<br>Experience 31 Days of Change!</div>
                    <div class="mainBodyLeftContent">매해 다짐만 해놓고 달성은 못했던 목표가 있으신가요?<br>목표 달성을 위해 계획한대로 실행도 해보았지만<br> 얼마
                        못가
                        포기한적이
                        있으신가요?
                        <br><br>급할 필요 없어요. 하루가 모여 한달이 되고, 한달이 모여 일년이 되듯,<br>당신의 작은 성취가 쌓여 목표를 달성할 수 있도록 작심31이 함께 도울게요.
                    </div>
                </div>
                <form class="mainBodyRight">
                    <div><label>Username<br><input type="text" placeholder="닉네임을 입력해주세요."></label></div>
                    <div><label>Email<br><input type="text" placeholder="이메일을 입력해주세요."></label></div>
                    <div><label>Password<br><input type="text" placeholder="패스워드를 입력해주세요."></label></div>
                    <input class="mainBodyRightSubmit" type="submit" title="회원가입" value="Sign up for 작심31">
                </form>
            </div>
        </div>
    </body>


    </html>
