<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Detail</title>

    <!-- 부트스트랩 차트 링크 -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/graph.css" />
  </head>

  <body>
    <div class="main">
      <%- include('header'); -%>

      <div class="mainBody">
        <div class="mainBodyLeft">
          <div class="leftTitle">Goal</div>
          <div class="leftGraph">
            <div class="leftGraphContainer">
              <canvas id="firstChart"></canvas>
            </div>
            <div class="leftGraphPercent">75%</div>
          </div>
          <div class="leftWrite">이대로만 가면 목표 달성은 문제없어요!</div>

          <div class="challenge">
            <% challenge_list.forEach(function(challenge, index) { %>
            <div
              class="challenge_item"
              onClick="setNewChart(<%= challenge.achievement * 100 %>)"
            >
              CH <%= index + 1 %>
            </div>
            <% }) %>
          </div>
        </div>
        <div class="mainBodyRight">
          <div class="rightTitle">All</div>
          <div class="rightWrite">"excellent !"</div>
          <div class="rightGraph">
            <div class="rightGraphContainer">
              <canvas id="secondChart"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script>
      var firstChart = document.getElementById('firstChart').getContext('2d');
      var colors = ['#0081f8', '#cccccc', '#B2DEFF'];
      var chart = setNewChart(<%= challenge_list.length !== 0 ? challenge_list[0].achievement * 100 : 0 %>)

      function setNewChart(achievement) {
        const element = document.querySelector(".leftGraphPercent");
        element.innerHTML = achievement + "%";

        return new Chart(firstChart, {
          // 챠트 종류를 선택
          type: 'doughnut',
          // 챠트를 그릴 데이타
          data: {
            datasets: [
              {
                label: 'My First dataset',
                backgroundColor: colors.slice(0, 2),
                borderColor: '#f1f3f5',
                data: [achievement, 100 - achievement], //마지막인자 100은 maxHeight
              },
            ],
          },
          // 옵션
          options: {
            cutoutPercentage: 75,
            rotation: 0,
          },
        });
      }
    </script>
    <script>
      var secondChart = document.getElementById('secondChart').getContext('2d');
      var chart = new Chart(secondChart, {
        // 챠트 종류를 선택
        type: 'line',
        // 챠트를 그릴 데이타
        data: {
          labels: ['0', '5', '15', '20', '25', '31'],
          datasets: [
            {
              label: '개인 달성률',
              backgroundColor: 'transparent',
              borderColor: colors[0],
              data: [0, 10, 5, 2, 20, 30, 100], //마지막인자 100은 maxHeight
              cubicInterpolationMode: 'monotone',
            },
            {
              label: '전체달성률',
              data: [0, 25, 45, 50, 60, 100],
              backgroundColor: 'transparent',
              borderColor: colors[2],
              cubicInterpolationMode: 'monotone',
            },
          ],
        },
        // 옵션
        options: {},
      });
    </script>
  </body>
</html>
