<head>
  <link rel="stylesheet" href="css/header.css" />
</head>

<div class="header">
  <a href="/" class="header__logo">
    <img src="img/logo.png" alt="로고입니다." />
  </a>

  <div class="header__navbar">
    <% menu = [{name: "Home", link: "/"}, {name: "Calendar", link: "/calendar"},
    {name: "Graph", link: "/graph"}, {name: "Refund", link: "/refund"}];
    activeMenu = locals.active || "Home"; menu.forEach(function(item) { if
    (item.name === activeMenu) { %>
    <a href="<%= item.link %>" class="active"><%= item.name %></a>
    <% } else { %>
    <a href="<%= item.link %>"><%= item.name %></a>
    <% }}) %> <% if (!!locals.user) { %>
    <a href="/logout">Sign Out</a>
    <% } else { %>
    <a href="/login">Sign in</a>
    <% } %>
  </div>
</div>
