<head>
  <link rel="stylesheet" href="css/header.css" />
</head>

<div class="header">
  <a href="/" class="header__logo"><img src="img/logo.png" alt="로고입니다."></a>
  <div class="header__navbar">
    <a href="#" style="font-weight: bold">Home</a>
    <a href="#" style="color : #cccccc;">Calendar</a>
    <a href="#" style="color : #cccccc;">Graph</a>
    <a href="#" style="color : #cccccc;">Refund</a>

    <% if (!!locals.user) { %>
    <a href="/logout" style="color : #0081f8">Sign Out</a>
    <% } else { %>
    <a href="/login" style="color : #0081f8">Sign in</a>
    <% } %>
  </div>
</div>
