<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/login.css" />
  </head>

  <body>
    <div class="main">
      <%- include('header'); -%>

      <div class="mainBody">
        <div class="loginTitle">Sign in to 작심31</div>
        <form class="loginBody" method="POST" action="/login">
          <div>
            <label>
              Email<br />
              <input
                type="email"
                name="email"
                placeholder="이메일을 입력해주세요."
                value="<%= (!!locals.email) ? email : '' %>"
              />
            </label>
          </div>
          <div>
            <label>
              Password<br />
              <input
                type="password"
                name="password"
                placeholder="패스워드를 입력해주세요."
              />
            </label>
          </div>
          <button>Sign In</button>
        </form>
        <div class="loginFoot">
          <div>
            New to 작심31? <a href="firstMain.html">Create an account</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
