<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MainPage(withLogin)</title>
    <link rel="stylesheet" href="css/firstMainBG.css">
    <link rel="stylesheet" href="css/firstMainNav.css">
    <link rel="stylesheet" href="css/secondMainCalendar.css">
    <script type="text/javascript" src="js/calendar.js"></script>
</head>

<body>
    <div class="main">
        <nav class="mainNav">
            <span class="mainNavLogo">작 심 3 1</span>
            <ul class="mainNavMenu">
                <li>Home</li>
                <li>Calendar</li>
                <li>Graph</li>
                <li>Refund</li>
            </ul>
        </nav>
        <table id="calendar">
            <div class="tbtop">
                <span><label onclick="prevCalendar()">prev</label></span>
                <span id="tbCalendarYM"></span>
                <span id="tbCalendarYMStr"></span>
                <span><label onclick="nextCalendar()">next</label></span>
            </div class="tbtop">
            <tr>
                <td>S</td>
                <td>M</td>
                <td>T</td>
                <td>W</td>
                <td>T</td>
                <td>F</td>
                <td>S</td>
            </tr>
            <script language="javascript" type="text/javascript">
                buildCalendar(); //
            </script>
        </table>
    </div>
</body>

</html>
