<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/refundBG.css">
    <link rel="stylesheet" href="css/refundMain.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
</head>

<body>
    <div class="main">
        <div class="mainBody">
            <div class="mainBodyLeft">
                <div class="mainBodyLeftUp">
                    <div class="LeftUpTitle"><span class="username1">땡땡땡</span>님, 수고하셨습니다.</div>
                    <div class="LeftUpContent">31일간 포기하지 않고, 하루씩 성실하게 도젼하셨네요.<br>
                        목표를 완벽하네 이루는 것보다도, 하루의 변화만큼 발전한<br>
                        <span class="username2">땡땡땡<span>님의 내일을 응원합니다 :)</div>
                </div>
                <div class="mainBodyLeftDown">
                    <div class="challenge">
                        <div class="challengeList">Challenge List</div>
                        <div class="challengeContent">
                            <div class="challengeContainer">
                                <div class="challengeContainer1">
                                    <div class="challengeNum">CH 1</div>
                                    <div class="challengeDate">02.01</div>
                                </div>
                                <div class="challengeContainer2">
                                    <div class="challengeTitle">일주일에 책 한 권씩 읽기.</div>
                                    <div class="charts">
                                        <span class="rowChart"></span>
                                    </div>
                                    <span class="chartPercent">00%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mainBodyRight">
                <div class="mainBodyRightUp">
                    <div class="RightUpTitle">결과</div>
                    <div class="RightUpContainer">
                        <div class="RightUpContent">CH<span class="challengeNum">땡</span>의 결과</div>
                        <hr>
                        <div class="RightUpContent2">
                            <div class="RightUpContent">투자금</div>
                            <div class="RightUpContentRight1">00000원</div>
                        </div>
                        <div class="RightUpContent2">
                            <div class="RightUpContent">달성률</div>
                            <div class="RightUpContentRight2">00%</div>
                        </div>
                    </div>
                </div>
                <div class="mainBodyRightDown">
                    <div class="RightDownTitle">환급</div>
                    <div class="RightDownContainer">
                        <div class="RightDownContent">계좌번호</div>
                        <input type="text">
                        <div class="RightDownContent">은행</div>
                        <input type="text">
                        <div class="RightDownContent2">
                            <div>누적금액</div>
                            <div class="RightDownContentRight">00000원</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>