<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>MainPage(withLogin)</title>
    <link rel="stylesheet" href="css/secondMainBG.css" />
    <link rel="stylesheet" href="css/secondMainNav.css" />
    <link rel="stylesheet" href="css/secondMainBody.css" />
    <link rel="stylesheet" href="css/secondMainCalendar.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap"
      rel="stylesheet"
    />
    <script type="text/javascript" src="js/calendar.js"></script>
    <link rel="stylesheet" href="chart.css" />
    <link
      rel="stylesheet"
      href="https://cdn.rawgit.com/theus/chart.css/v1.0.0/dist/chart.css"
    />
  </head>

  <body>
    <div class="main">
      <div class="background"></div>
      <div class="mainNav">
        <div class="mainNavLogo">작 심 3 1</div>
        <div class="mainNavMenu">
          <div style="color : #cccccc;" ;>Home</div>
          <div style="font-weight : bold;">Calendar</div>
          <div style="color : #cccccc;">Graph</div>
          <div style="color : #cccccc;">Refund</div>
          <a href="/logout" style="color : #0081f8;">LogOut</a>
        </div>
      </div>
      <div class="mainBody">
        <div>
          <div class="tbtop">
            <img src="img/calendarIcon.svg" alt="" />
            <span id="tbCalendarYM"></span>
            <span id="tbCalendarYMStr"></span>
            <span id="tbCalendarY"></span>
            <span><label onclick="prevCalendar()"> </label> </span>
            <span><label onclick="nextCalendar()">></label></span>
          </div>
          <table id="calendar">
            <tr>
              <td>Sun</td>
              <td>Mon</td>
              <td>Tue</td>
              <td>Wed</td>
              <td>Thr</td>
              <td>Fri</td>
              <td>Sat</td>
            </tr>
            <script language="javascript" type="text/javascript">
              buildCalendar();
            </script>
          </table>
        </div>
        <div class="challenge">
          <div class="challengeList">Challenge List</div>
          <div class="challengeContent">
            <div class="challengeContainer1">
              <div class="challengeNum">CH 1</div>
              <div class="challengeDate">02.01</div>
            </div>
            <div class="challengeContainer2">
              <div class="challengeTitle">일주일에 책 한 권씩 읽기.</div>
              <div class="charts">
                <span class="rowChart"></span>
              </div>
              <span class="chartPercent">00%</span>
            </div>
            <img src="img/challengePic.svg" alt="" />
          </div>
          <div class="challengeUpload">
            <a href="/challenge"
              ><img src="img/challengeUploadBtn.svg" alt=""
            /></a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
