html, body{
    height : 100%;
}
body{
    margin-top : 0;
    background-color : #0081f8;
}

.main{
    font-family: "Noto Sans KR", sans-serif;
    background-color : white;
    margin-top : 5%;
    margin-left : 3%;
    margin-right : 3%;
    width : 94%;
    height : 80%;
    border-radius : 20px;
}