.mainBody{
    width : 100%;
    height : 90%;
    display:flex;
    justify-content: space-between;
    padding: 0 30px;
}

.mainBodyLeft{
    width : 50%;
    height : 100%;
}

.mainBodyLeftTitle{
    font-size : 250%;
    padding-bottom : 5%;
    font-weight : bold;
}

.mainBodyLeftContent{
    font-size : 120%;
}

.mainBodyRight{
    display : flex;
    flex-direction : column;
    align-items: center;
    font-size : 120%;
    width : 40%;
    height : 70%;
    border : 3px solid #d5ded7;  
    padding: 20px;
}

.mainBodyRight div{
    width: 100%;
    padding : 1% 0 5% 0;
}

.mainBodyRight input[type="text"]{
    display : block;
    height : 30px;
    width : 100%;
    border-radius : 10px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
}

.mainBodyRight input[type="submit"]{
    width : 80%;
    border-radius : 10px;
    height : 40px;
    background-color : #0081f8;
    color : white;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
}
.mainBodyRight.mainBodyRightSubmit{
    border : none !important;
    color : red;    
    background : blue;
}

input{
    border-radius : 20px;
    height : 20%;
}

@media(max-width : 768px){
    .mainBodyLeftTitle{
        font-size : 140%; 
    }
    .mainBodyLeftContent{
        font-size : 120%;
    }
}
