.mainBody{
    width : 100%;
    height : 90%;
    display:flex;
}

.mainBodyLeft{
    width : 40%;
    height : 100%;
    margin-left : 5%;
    margin-right : 10%;
}

.mainBodyLeftTitle{
    font-size : 250%;
    font-weight : bold;
    margin-top : 10%;
    margin-bottom : 5%;
}

.mainBodyLeftContent{
    font-size : 120%;
}

.mainBodyRight{
    width : 30%;
    height : 80%;
    margin-top : 5%;
    margin-left : 10%;
    border : 3px solid gray;    
}

.mainBodyRight ul{
    list-style-type : none;
}

.mainBodyRight ul li{
    margin-bottom : 10%;
    font-size : 150%;
}

.mainBodyRight.mainBodyRightSubmit{
    border : none !important;
    color : red;    
    background-color : blue;
}

input{
    border-radius : 20px;
    height : 20%;
}