.header {
  width: 100%;
  padding: 40px 70px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 100;
}

.header__navbar a + a {
  margin-left: 40px;
}

.header__logo img {
  height: 45px;
}
