.mainBody{
    display : flex;
}

.mainBodyLeft, .mainBodyRight{
    width : 50%;
    height : 100%;
    display : block;
}

.mainBodyLeftUp, .mainBodyLeftDown{
    padding-left : 5%;
}
.mainBodyLeftUp{
    height : 40%;
}

.mainBodyLeftDown{
    padding-top : 5%;
    height : 60%;
}

.charts{
    height : 10px; 
    background:#cccccc; 
    border-radius : 0;
    opacity : 0.7;
}
.challengeContent{
    display : flex;
}

.rowChart{
    display : inline-block; 
    width : 75%; /* 예를 건드려야됨. percent */
    height : 100%;
    line-height : 40px;
    opacity : 0.7;
    background : #0081f8;
}
        
.chartPercent{
    color : #cccccc;
}

.RightUpContent2, .RightDownContent2{
    display : flex;
}

.username1{
    font-weight : bold;
    font-size : 150%;
}

.LeftUpTitle{
    font-size : 130%;
}

.LeftUpContent{
    padding-top : 3%;
    font-size : 110%;
}

.challengeList{
    font-weight : bold;
    font-size : 130%;
}

.challengeContainer{
    border : 1.3px solid #cccccc;
    width : 90%;
    display : flex;
    padding : 3%;
}

.RightUpTitle, .RightDownTitle{
    font-weight : bold;
    font-size : 140%;
    padding-bottom : 5%;
}

.RightUpContent, .RightUpContent2{
    font-size : 110%;
}

.RightUpContainer, .RightDownContainer{
    padding-bottom : 5%;
}
.RightUpContentRight1, .RightUpContentRight2, .RightUpContentRight3{
    float : right;
}