@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  background: #0081f8;
  display: flex;
  align-items: stretch;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  font-family: 'Noto Sans KR', sans-serif;
  background: white;
  width: 95%;
  min-width: 1000px;
  max-width: 1200px;
  height: 90%;
  min-height: 600px;
  margin: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.mainBody {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
}
